<p>My artist bio</p>

<h1>Name:<%= @artist.name %></h1>
<h1>Artist Bio:<%= @artist.bio %></h1>


<%= link_to "Index Page", songs_path%>
<%= link_to "Genre Page", songs_path%>
<%= link_to "Artist Page", songs_path%>
